<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
</head>
<body>

<h1>Contenido de la Página, puto</h1>

<div id="app" class="container">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>