{% extends 'WonderWeb/Tutorial/base.html' %}

{% block content %}
    <h2>{{ pregunta.pregunta }}</h2>
    <ul>
        {% for respuesta in pregunta.respuestas_set.all %}
            <li>{{ respuesta.respuesta }}</li>
        {% endfor %}
    </ul>
{% endblock %}