{% extends 'WonderWeb/Tutorial/base.html' %}

{% block content %}
    <h2>Preguntas</h2>
    {% if preguntas %}
        <ul>
            {% for pregunta in preguntas %}
                <li><a href="{% url 'details' pregunta.id %}">{{ pregunta.pregunta }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay preguntas</p>
    {% endif %}
{% endblock %}