{% extends 'WonderWeb/Utils/wonderTemplate_HTML.html' %}

{% load static %}

{% block title %} Inicio - Wonder {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/contactanos_CSS.css' %}">{% endblock %}

{% block contenido %}

    <br><br><br>
    <h1 class="tituloGeneral">WONDER</h1>
    <br>
    <h2 class="subtituloGeneral">CONTACTANOS</h2>

{% endblock %}