{% extends 'WonderWeb/Utils/wonderTemplate_HTML.html' %}

{% load static %}

{% block title %} Proyectos - Wonder {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/proyectos_CSS.css' %}">{% endblock %}

{% block contenido %}

    <br><br><br>
    <h1 class="tituloGeneral">WONDER</h1>
    <br>
    <h2 class="subtituloGeneral">PROJECTES</h2>

{% endblock %}
