{% extends 'WonderWeb/Utils/wonderTemplate_HTML.html' %}

{% load static %}

{% block title %} Registro - Wonder {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/registro_CSS.css' %}">{% endblock %}

{% block contenido %}



    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->



    <!-- INICIO - IMAGEN TOP -->
    <img src="{% static 'imagenes/slider/imagenSlider_1.jpeg' %}" alt="imgTop" class="imgTop">
    <!-- FINAL - IMAGEN TOP -->



    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->



    <!-- INICIO - CONTAINER CARDS REGISTER -->
    <div class="containCards">



        <!-- INICIO - CARD REGISTRO JUVENIL -->
        <div class="cardJuvenil">
            <div class="titleCard">
                <span>Registra't a l'Àrea Juvenil</span>
                <img src="{% static 'imagenes/logoJuvenil.png' %}" alt="iconoJuvenil">
            </div>
            <div class="formCard">
                <span>
                    Registrar-se a la plataforma per poder iniciar un xat d'ajuda
                    amb una sola persona del nostre equip perquè et puguem ajudar
                </span>
                <form action="">
                    <div class="form-group">
                        <label for="name-Juvenile">Nom</label>
                        <input type="text" class="form-control" id="name-Juvenile" placeholder="*Nom">
                    </div>
                    <div class="form-group">
                        <label for="surname-Juvenile">Cognom</label>
                        <input type="text" class="form-control" id="surname-Juvenile" placeholder="*Cognom">
                    </div>
                    <div class="form-group">
                        <label for="date-Juvenile">Data de Naixement</label>
                        <input type="date" class="form-control" id="date-Juvenile" placeholder="*Data de Naixement">
                    </div>
                    <div class="form-group">
                        <label for="email-Juvenile">Correu Electrónic</label>
                        <input type="email" class="form-control" id="email-Juvenile" placeholder="*Correu Electrónic">
                    </div>
                    <div class="form-group">
                        <label for="password-Juvenile">Contrasenya</label>
                        <input type="password" class="form-control" id="password-Juvenile" placeholder="*Contrasenya">
                    </div>
                    <div class="form-group">
                        <label for="password-Juvenile">Repetir contrasenya</label>
                        <input type="password" class="form-control" id="repeatPassword-Juvenile" placeholder="*Repetir contrasenya">
                    </div>
                    <button class="resitrarme" type="submit">Registrar-me</button>
                    <span>
                        Sol·licitem la data de naixement per saber a quina àrea <br>
                        correspons. <br>
                        Pots veure la pòlitica de provadesa dent clic <a href="#">aquí</a>.
                    </span>
                </form>
            </div>
        </div>
        <!-- FINAL - CARD REGISTRO JUVENIL -->



        <div class="marginCards"></div>



        <!-- INICIO - CARD REGISTRO ADULTO -->
        <div class="cardAdult">
            <div class="titleCard">
                <span>Registra't a l'Àrea Adulta</span>
                <img src="{% static 'imagenes/logoAdulto.png' %}" alt="iconoAdulto">
            </div>
            <div class="formCard">
                <span>
                    Registrar-se a la plataforma per poder iniciar un xat d'ajuda
                    amb una sola persona del nostre equip perquè et puguem ajudar
                </span>
                <form action="">
                    <div class="form-group">
                        <label for="name-Adult">Nom</label>
                        <input type="text" class="form-control" id="name-Adult" placeholder="*Nom">
                    </div>
                    <div class="form-group">
                        <label for="surname-Adult">Cognom</label>
                        <input type="text" class="form-control" id="surname-Adult" placeholder="*Cognom">
                    </div>
                    <div class="form-group">
                        <label for="date-Adult">Data de Naixement</label>
                        <input type="date" class="form-control" id="date-Adult" placeholder="*Data de Naixement">
                    </div>
                    <div class="form-group">
                        <label for="email-Adult">Correu Electrónic</label>
                        <input type="email" class="form-control" id="email-Adult" placeholder="*Correu Electrónic">
                    </div>
                    <div class="form-group">
                        <label for="password-Adult">Contrasenya</label>
                        <input type="password" class="form-control" id="password-Adult" placeholder="*Contrasenya">
                    </div>
                    <div class="form-group">
                        <label for="password-Adult">Repetir contrasenya</label>
                        <input type="password" class="form-control" id="repeatPassword-Adult" placeholder="*Repetir contrasenya">
                    </div>
                    <button class="resitrarme" type="submit">Registrar-me</button>
                    <span>
                        Sol·licitem la data de naixement per saber a quina àrea <br>
                        correspons. <br>
                        Pots veure la pòlitica de provadesa dent clic <a href="#">aquí</a>.
                    </span>
                </form>
            </div>
        </div>
        <!-- FINAL - CARD REGISTRO ADULTO -->




    </div>
    <!-- FINAL - CONTAINER CARDS REGISTER -->

{% endblock %}
