div.chat-calendar {
    font-size: 0.4em;
    margin-top: 7em;
    display: flex;
    width: 100%;
}

div.chat-aplication {
    flex: 12;
    height: 60em;
    background-color: red;
}

div.margin-cal-chat {
    flex: 1;
}

div.chatSelect-calendar {
    flex: 8;
}

div.chat-selector {
    width: 100%;
    background-color: blue;
    height: 75vh;
}

div.full-calendar {
    border: solid 1px;
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 11em;
    height: 65vh;
    margin-bottom: 7em;
}
div#calendar{
    height: 100%;
    font-size: 1.9em;
}
h2.fc-toolbar-title {
    padding: 0.7em 1em;
}

span {
    font-weight: bold;
    font-size: 3em;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.back-container {
    position: relative;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.chat-top {
    background-color: #ededed;
    min-height: 50px;
}

.profile-image {
    margin-top: 7px;
    height: 30px;
    width: 30px;
}

.contacts {
    background-color: #e4e1de;
    height: 75vh;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-table-scroll {
    overflow-y: scroll;
    height: 75vh;
}

.message-area {
    background-color: #e4e1de;
    min-height: 100vh;
}

.message-table-scroll {
    overflow-y: scroll;
    height: 100vh;
}

.message-box {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
}
